<a href="https://colab.research.google.com/github/anupamapandey/anupamanew/blob/main/Oct23_T_test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

from scipy.stats import norm, t

from scipy.stats import ttest_1samp, ttest_ind, ttest_rel

In [ ]:
from scipy.stats import t

#Recap of z-test

In [ ]:
"""
A french cake shop claims that the
average number of pastries they can produce
in a day exceeds 500.

The average number of pastries produced per day
over a 70 day period was found to be 530.

Assume that the population standard deviation
for the pastries produced per day is 125.

Test their claim using a z-test (alpha is 5%)
"""
#Ho: mu = 500
#Ha: mu > 500

#right-tailed test
pass

In [ ]:
#quizzes 1 and 2

In [ ]:
#Method 1: finding p-value

mu = 500
sigma = 125

#sample data
n = 70
m = 530

In [ ]:
#Method 2: finding critical region boundary

mu = 500
sigma = 125

#sample data
n = 70
m = 530

#What if the population data is missing?

In [ ]:
"""
The chinstrap penguin is a species of penguin
that inhabits a variety of islands and shores
in the Southern Pacific and the Antarctic Oceans.

An expedition team of researchers recently managed to catch
7 Chinstrap penguins, studied them, and then released the penguins.
The waters made it difficult to catch more such penguins.
No other data about these penguins is available.

Based on the weights recorded of the 7 penguins (in kgs),
construct a 95% CI for the average weight of Chinstrap penguins
"""

penguin_weights = [3.64,3.42,4.05,3.44,3.69,3.56,3.78]

In [ ]:
penguin_weights = pd.Series([3.64,3.42,4.05,3.44,3.69,3.56,3.78])

m = penguin_weights.mean() #sample mean
s = penguin_weights.std() #NOTE: use pandas.std() for "sample std dev" and NOT numpy.std()
n = len(penguin_weights)

print(m,s)

3.654285714285714 0.21739803302216132

In [ ]:
#Finding t-scores: Left and right boundary t-scores for a 95% CI

#NOTE: df is "degrees of freedom". This can be considered as "sample_size - 1"

t_left = t.ppf(0.025,df=7-1) #2.5th percentile value of t

t_right = t.ppf(0.975,df=7-1) #97.5th percentile value of t


# The boundaries of a 95% CI: [m + (t_left)*se, m + (t_right)*se]

se = s / np.sqrt(n) #sample std dev / root(n)

print(f"95% CI is for mu_pop: [{round(m + (t_left)*se,2)}, {round(m + (t_right)*se,2)}]")

95% CI is for mu_pop: [3.45, 3.86]

#T-test

In [ ]:
"""
Vishal is a college student enrolled in a Statistics Course

In the semester break after learning hypothesis testing,
he goes on a family trip to the Netherlands.

When Vishal remarks about how tall the men in the Netherlands are:
His least-favourtie uncle remarks about how there are many tall people back in India,
and that the average heights of both countries are the same


Having learnt statistics, Vishal decides to do a hypothesis test.
He wants to see if the heights are similar or if they're taller


He samples a few random men of the Netherlands: stops and asks them for their heights
Most of them refuse to answer. Some are happy to share their height.
"""


sample_heights = pd.Series([74.7, 75.3, 73.7, 77.1, 75.1, 73.6, 69.0, 74.2, 76.2])


#avg height of man in India = 66 inches


#Ho: mu_NED = 66 in
#Ha: mu_NED > 66 in

In [ ]:
#Can we claim, based on these 9 people Vishal sampled,
#that average height of men in the Netherlands is >66 inches

"""
Ho: mu_NED = 66
Ha: mu_NED > 66
alpha = 0.05
"""

mu = 66
alpha = 0.05
#sigma is not known

#sample data
x = sample_heights.mean()
s = sample_heights.std()
n = len(sample_heights)

#For CLT with n samples
se = s / np.sqrt(n)

t_stat = (x-mu)/se


p_value = 1 - t.cdf(t_stat,df=n-1)

p_value #probabilty of values falling to the right of x

if p_value < (alpha):
  print("Reject Ho")
else:
  print("Failed to Reject Ho")

In [ ]:
#using ttest_1samp

#IQ scores

In [ ]:
"""
The mean IQ scores for a population is 100

A team of scientists want to see if long-term
medication used for a certain psychiatric treatment
affects IQ scores (either in a positive or negative way,
or if it has no effect at all).

They found 8 such patients who have been administered this
medication for over a decade. Here are the results:
iq_scores = [110, 105, 98, 102, 99, 104, 115, 95]

Did the medication affect intelligence?
alpha = 0.05
"""

#Ho: mu = 100 -> medication does not affect avg IQ
#Ha: mu !=100 -> medication has a significant effect on IQ
pass

#Paired t-test

In [ ]:
"""
Twelve cars were equipped with radial tyres,
and driven over a test course.

Then the same 12 cars, (with the same drivers),
were equipped with regular belted tyres
and driven over the same test course.

After each run, the mileage (in km/l) was measured.
Is there evidence that radial tyres offer better mileage?

assume alpha = 0.05
"""

mileages_radial = [4.2,4.7,6.6,7.0,6.7,4.5,5.7,6.0,7.4,4.9,6.1,5.2]
mileages_belted = [4.1,4.9,6.2,6.9,6.8,4.4,5.7,5.8,6.9,4.7,6.0,4.9]

#t-test for two independent samples

In [ ]:
"""
Samples of Body fat percentages of few gym going men and women are recorded.

men = [13.3, 6.0, 20.0, 8.0, 14.0, 19.0, 18.0, 25.0, 16.0, 24.0, 15.0, 1.0, 15.0]
women = [22.0, 16.0, 21.7, 21.0, 30.0, 26.0, 12.0, 23.2, 28.0, 23.0]

Perform 2 sample T-test to check if
mean body fat percentage of men and women
are statistically different.

Assume significance level to be 5%.
"""
pass